.root {
	-fx-font-size: 11pt;
}

.button {
	-fx-background-radius: 5;
}

.button-blue {
	-fx-background-radius: 0;
	-fx-background-color: #7CAFC2;
	-fx-text-fill: #FFF;
}

.vbox {
	-fx-padding: 25 20 20 50;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-pref-width: 400;
    -fx-pref-width: 200;
	-fx-max-height: 200;
}

.regbox {
	-fx-padding: 20px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
	-fx-pref-width: 240;
	-fx-max-height: 240;
	-fx-border-width: 0 2 0 0; 
    -fx-border-color: red black green yellow;
}

.loginpageBox {
	-fx-padding: 15 35 0 50;
    -fx-spacing: 10;
}

#form {
	-fx-padding: 10 0 10 0;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

#registerbtn {
	-fx-padding: 25 25 25 25;
	-fx-background-insets: 15 0 15 0;
}

#largebtn {
	-fx-padding: 25 25 25 25;
	-fx-background-insets: 15 0 15 0;
}

#heading {
	-fx-font-size: 15pt;
}

#loginbtn {
	-fx-padding: 15;
	-fx-background-insets: 10 0 10 0;	
}

#errorLabel {
	-fx-padding: 15 35 0 50;
	-fx-font-size: 11pt;
}